<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet"> 
	{% block style %}
	{% endblock %}
	<title>{% block title %}{% endblock %}</title>
	
</head>

<body>	

	
	<nav>
		<div id="nav-content">
		<ul>
			<li><a href="/">Domů</a></li>
			
			{% if "user" in session %}
				<li style="float: right;"><a href="/logout">Odhlásit se</a></li>
				<li style="float: right"><a href="/user">Uživatel</a></li>			
			{% else %}
				<li style="float: right;"><a href="/login">Přihlásit se</a>
			{% endif %}
			</li>
		</ul>
	</div>
	</nav>
	
	<div id="content">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				
				{% for message in messages %}
				<div class="alert">
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
					{{ message }}
				</div>
				
				{% endfor %}
				
			{% endif %}
		{% endwith %}

		{% block content %}
			
		{% endblock %}

	</div>
	<footer>
		<div id="footer-content">@Tomáš Latýn 2021</div>
	</footer>
	

</body>
</html>