<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://www.google.com/jsapi">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&display=swap" rel="stylesheet">
	{% block style %}
	{% endblock %}
	<title>{% block title %}{% endblock %}</title>
	<style>
		.alert{
			background-color: rgba(0,0,0,0.4);
		}
	</style>
</head>

<body>	
	
	<nav>
		<div id="nav-content">
		<ul>
			<li><a href="/">Domů</a></li>
		</ul>
	</div>
	</nav>
	
	<div id="content">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				
				{% for message in messages %}
				<div class="alert">
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
					{{ message }}
				</div>
				
				{% endfor %}
				
			{% endif %}
		{% endwith %}

		{% block content %}
			
		{% endblock %}

	</div>
	<footer>
		@Tomáš Latýn 2021
	</footer>
	
</body>
</html>