{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/product.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/category.css') }}">
{% endblock %}

{% block content %}
<div id="main-content">
<h1>
    <b>KATEGORIE</b>
</h1>
<section id="category">
    <ul>
        {% for category in categories %}
        <li><a href="category={{ category.name }}"><b>{{ category.name }}</b></a></li> 
        {% endfor %}
    </ul>
</section>
</div>

{% endblock%}