{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/product.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/category.css') }}">
{% endblock %}

{% block content %}

<div id="main-content">
<div id="route">
    <p>
    <a href="/">Home</a>
     > <span>{{ category.name }}</span>
    </p>
</div>

<h1>
    <span style="text-transform: uppercase;">{{category.name}}</span>
</h1>
<p id="desc">{{ category.description }}</p>
<section id="category">
    <ul>
        {% for product in products %}
        <li><a href="category={{ category.name }}/product={{ product.name }}">{{ product.name }}</a></li> 
        {% endfor %}
    </ul>
    {% if not products %}
    <div id="no-price">
        <h3>V kategorii se nenachází žádný produkt</h3>
    </div>
    {% endif %}
</section>
</div>



{% endblock%}