{% extends "base2.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
{% endblock %}

{% block title %}Login page{% endblock %}
{% block content %}


<section id="login">


<form action="#" method="post">
	<h2>Přihlášení</h2>
	
	<input type="text" name="nm" id="name" placeholder="Jméno" required>
	<br>
	
	<input type="password" name="pwd" id="passwd" placeholder="Heslo" required>
	<input type="submit" value="Přihlásit se">
</form>
<br>
<p>Nemáte účet? 
<a href="/register">Registrujte se</a>
</p>
</section>

{% endblock%}