{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user.css') }}">
{% endblock %}

{% block title %}Index page{% endblock %}

{% block content %}

<section id="user">

<form action="#" method="POST">
    <h2>Přidat produkt</h2>

    <input type="text" name="name" placeholder="Jméno produktu" required><br>
    <input type="text" name="manufacturer" placeholder="Výrobce" required><br>
    <select name="category" id="category" required>
        <option value="" disabled selected>Vyber kategorii</option>
        {% for category in categories %}
        <option value="{{ category.name }}">{{ category.name }}</option>
        {% endfor %}
    </select><br>
    <input type="submit" value="Potvrdit">
</form>

<br>
<button onclick="window.location.href='/user/';">Zpět</a></button>

</section>

{% endblock %}