{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user.css') }}">
{% endblock %}

{% block title %}Index page{% endblock %}

{% block content %}


<section id="user">
<h2>Přidat kategorii</h2>
<form action="#" method="POST">
    <input type="text" name="name" placeholder="Název kategorie" required><br>
    <textarea id="desc" name="desc" rows="6" cols="25" maxlength="200" placeholder="Popis kategorie (200 znaků)" required></textarea><br>
    <input type="submit" value="Potvrdit">
</form>

<br>
<button onclick="window.location.href='/user/';">Zpět</a></button>

</section>


{% endblock %}