{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/product.css') }}">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% endblock %}

{% block content %}


<div id="main-content">
<div id="route">
    <p>
    <a href="/">Home</a>
     > 
    <a href="/category={{ category.name }}">{{ category.name }}</a> 
     > <span>{{ product.name }}</span>
    </p>
</div>


<header>
<h1>
    {{product.name}}
</h1>

<p><b>Výrobce: </b>{{product.manufacturer}}</p>
</header>




{% if number>0 %}
<div id="price_table">
    <table>
        <caption style="text-align:left;"><h2>Historie cen</h2></caption>
        <tr>
            <th>Cena</th>
            <th>Datum</th>
            <th>Zdroj</th>
            {% if "user" in session %}
                <th></th>   
            {% endif %}
        </tr>
        {% for price in prices %}
            <tr>
                <td>{{ price.price }} Kč</td>
                <td>{{ price.date.strftime("%d.%m.%Y") }}</td>
                <td>{{ price.comment }}</td> 
                {% if "user" in session %}
                    <td><a href="/delete/{{ product.id }}/{{ price.id }}" class="fa fa-trash" style="font-size: 1.5rem;"></a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
<br>
<div id="price_table">
    <table>
        <tr>
            <th></th>
            <th>Cena</th>
            <th>Datum</th>
            <th>Zdroj</th>
        </tr>
        <tr>
            <td>Nejvyšší</td>
            <td>{{ max.price }} Kč</td>
            <td>{{ max.date.strftime("%d.%m.%Y") }}</td>
            <td>{{ max.comment }}</td>
        </tr>
        <tr>
            <td>Nejnižší</td>
            <td>{{ min.price }} Kč</td>
            <td>{{ min.date.strftime("%d.%m.%Y") }}</td>
            <td>{{ min.comment }}</td>
        </tr>
        <tr>
            <td colspan="1">Průměrná</td>
            <td colspan="3">{{ avg }} Kč</td>
        </tr>
    </table>
</div>
{% else %}
<div id="no-price">
    <h3>Žádná cena nebyla přidána</h3>
</div>
{% endif %}


<br>

<!-- místo pro graf -->
{% if number>0 %}
<div id="myPlot" style="width:100%;max-width:700px"></div>

<script>
var yArray = [];
var xArray = [];

{% for x in range(number) %}
    yArray.push({{_prices[x]}});
    xArray.push({{d[x]}}+"."+{{m[x]}}+"."+{{y[x]}});
    

{% endfor %}

// Define Data
var data = [{
  x: xArray,
  y: yArray,
  mode:"lines+markers",
  line: {
    color: 'rgb(166, 30, 184)'
  }
}];

// Define Layout
var layout = {
  xaxis: {title: "Datum", showspikes: true, spikemode: 'toaxis'},
  yaxis: {title: "Cena", showspikes: true, spikemode: 'toaxis'},  
  title: "Vývoj cen",
  font: {
    family: 'Roboto',
	weight: 400,
    size: 13
  }
};

// Display using Plotly
var config = {
    responsive: true,
    displaylogo: false
};

Plotly.newPlot("myPlot", data, layout, config);
</script>
{% endif %}

<section id="user">

    <form action="#" method="POST">
        <h2>Přidání ceny</h2>
        {% if "user" in session %}
            <input type="text" name="source" placeholder="Zdroj"><br>
        {% else %}
            <input type="text" name="source" placeholder="Zdroj" required><br>    
        {% endif %}
        <input type="number" min="0" step="0.1" name="price" placeholder="Cena v Kč" requeired><br>        
        <input type="date" name="date" required><br>
        <input type="submit" value="Přidat cenu">
    </form>
    
</section>

</div>

{% endblock%}