{% extends "base2.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
{% endblock %}

{% block title %}Login page{% endblock %}
{% block content %}

<section id="login">


<form action="#" method="post">
	<h2>Registrace</h2>
	<input type="email" name="email" id="email" placeholder="E-mail" required><br>
	<input type="text" name="nm" id="name" placeholder="Jméno" required><br>
	<input type="password" name="pwd" id="passwd" placeholder="Heslo" required>
	<input type="submit" value="Registrovat se">
</form>
<br>
<p>Jste už registrováni? 
<a href="/login">Přihlašte se</a>
</p>
</section>

{% endblock%}