{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user.css') }}">
{% endblock %}

{% block title %}Index page{% endblock %}

{% block content %}

<section id="user">

<form action="#" method="POST">
    <h2>Odebrat Produkt</h2>

    
    <select name="product" id="product" required>
        <option value="" disabled selected>Vyber Produkt</option>
        {% for product in products %}
            <option value="{{ product.name }}">{{ product.name }}</option>
        {% endfor %}
    </select><br>
    <input type="submit" value="Potvrdit">
</form>

<br>
<button onclick="window.location.href='/user/';">Zpět</a></button>

</section>

{% endblock %}