{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user.css') }}">
{% endblock %}

{% block content %}

<section id="user">
	<h2>Osobní údaje</h2>
	<form action="#" method="POST">
		<input type="email" name="email" placeholder="Enter email" value="{{email if email}}" required><br>
		<input type="password" name="old_pass" placeholder="Staré heslo"><br>
		<input type="password" name="new_pass" placeholder="Nové heslo"><br>
		<input type="submit" value="Provést změny">
	</form>
	<br>
	<h2>Možnosti</h2>
	<button onclick="window.location.href='/user/newcategory';">Přidat kategorii</button>
	<br>
	<button onclick="window.location.href='/user/remove-category';">Odebrat kategorii</button>
	<br>
	<button onclick="window.location.href='/user/newproduct';">Přidat produkt</button>
	<br>
	<button onclick="window.location.href='/user/remove-product';">Odebrat produkt</button>


</section>

{% endblock%}