#category{
    width: 100%;
}

h1 {
    text-align: left;
    padding-left: 25px;
}

#category ul {
    list-style-type: none;
    width:700px;
    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
}

#category li{
    background: white;
    width: 30%;
    align-self: flex-start;
    flex-grow: 1;
    
}

#category li a {
    font-size: 1.3rem;
    color: black;
	display: block;
	text-decoration: none;
	text-align: center;
    transition: 0.2s;
    padding: 1rem 0;
    border: 2px solid lightgray;
}

#category li a:hover{
	box-shadow: 5px 5px 2px grey;
    border: 2px solid grey;
}

#desc{
    text-align: left;
    padding-left: 25px;
    padding-bottom: 20px;
}

@media screen and (max-width: 800px){
    #category {
        width: 100%;
    }
    #category ul{
        width:100%;
    }
    #category li{
        width:40%;
    }

    h1{
        padding-left: 0;
    }
    #desc{
        padding-left: 0;
    }
}

@media screen and (max-width: 400px){
    #category li{
        width: 100%;
    }
    h1 {
        font-size: 10vw;
    }
}