body {
    background: rgb(108,9,121);
    background: linear-gradient(72deg, rgba(108,9,121,1) 21%, rgba(0,212,255,1) 93%);
}

footer{
  background: rgba(0, 0, 0, 0.5);
}

nav {
  background: rgba(0, 0, 0, 0.5);
}

#login {
    width: 500px;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 30px;
    /*border-radius: 10px;*/
    margin-top: 50px;
}

@media only screen and (max-width: 530px){
  #login {
    width: 100%;
  }
}

#login h2{
    font-size: 2.5rem;
    color: white;
}

#login p{
    color:white;
}

input{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    font-family: 'Quicksand', sans-serif;
	  font-weight: 400;
}

input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    /*border-radius: 8px;
*/    font-size: 1rem;
  }
  
  input[type=text]:focus {
    border: 3px solid #555;
  }

  input[type=password] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    /*border-radius: 8px;
*/    font-size: 1rem;
  }
  
  input[type=password]:focus {
    border: 3px solid #555;
  }

  input[type=submit]{
      font-size: 1rem;
      /*border-radius: 8px;
*/      -webkit-transition: 0.5s;
      transition: 0.5s;
      cursor: pointer;
      border: none;
  }

input[type=submit]:hover{
    background: rgb(166, 30, 184);
    color: white;
}

#login a{
    text-decoration: none;
    color: lightgray;
    transition: 0.3s;
}

#login a:hover{
    color:rgba(150,30,100);
}
input[type=email] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    /*border-radius: 8px;
*/    font-size: 1rem;
  }
  
  input[type=email]:focus {
    border: 3px solid #555;
  }
