header {
    text-align: center;
}

#price_table {
    overflow-x: auto;
}

#no-price{
    text-align: center;
    margin-top: 5rem;
}

#price_table table {
    border-collapse: collapse;
    width: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: auto;
}

#myPlot {
    height: 500px;
    width: 100%;
    margin: auto; 
}

table {
   width: 100%;
}

th {
    text-align: left;
    padding: 0.8rem;
    background-color: rgb(166, 30, 184);
    color:white;
}

td{ 
    text-align: left;
    padding: 0.8rem;
}

tr:nth-child(even) {
    background-color: #dddddd;
  }

#main-content {
    background-color: white;
    width: 750px;
    border: 1px solid lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:10px 25px 75px 25px;
}

#user {
    border: none;
    width: 500px;
}

#user input {
    width: 100%;
}



@media screen and (max-width: 800px){
    #main-content{
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    #price_table table{
        width: 100%;
    }
    #user {
        width: 100%;
    }
    
}

