html {	
	position: relative;
	min-height: 100%;
	
	
}

body {
	margin: 0 0 3rem;
	background-color: rgb(245,245,245);	
	overflow: hidden;
	overflow-y: scroll;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

.alert {
	padding: 20px;
	background-color: rgb(166, 30, 184);
	color: white;
	width: 760px;
	margin: auto;
	
  }
  
  .closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  .closebtn:hover {
	color: black;
  }

header {
	
	background:rgba(255, 255, 255, 0.8);
	margin: auto;
}
header h1{
	text-align: center;
}

#content {
	padding: 10px;
}


img {
	max-width: 100%;
}

h1 {
	font-size: 50px;
}

nav {
	background: rgba(0,0,0,0.5);
	
}

nav ul {
	
	width: 800px;
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	position: sticky;
	position: -webkit-sticky;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}



nav li {
	float: left;

}

nav li a {
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 10px 10px;
	transition: 0.2s;
}

nav li a:hover{
	background-color: black;
}

footer {	
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 1rem 0;
	text-align: center;
	background: rgb(0,212,255);
	background: linear-gradient(58deg, rgba(0,212,255,1) 15%, rgb(108, 9, 121) 72%); 
	font-size: 1rem;
	overflow: hidden;
	
	color: rgba(255, 255, 255, 0.8);

}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: #2196F3;
	padding: 10px;

  }
.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
  }

#main-content {
    width: 800px;
    margin:auto;
}  

.fa:hover{
    opacity: 0.7;
}

.fa-trash {
    color: black;
}

#route a{
	text-decoration: none;
	color: black;
}

#route a:hover{
	color: grey;
}

#route span {
	color: rgb(108,9,121);
}

@media screen and (max-width: 800px){
	nav ul
	{
		width: 100%;
	}
	.alert{
		max-width: 95%;
	}

	#main-content{
		width: 90%;
	}
}