#user {
    width: 800px;
    background-color: white;
    text-align: center;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid lightgray;
    font-family: 'Quicksand', sans-serif;
	  font-weight: 400;
}

@media only screen and (max-width: 830px){
  #user{
    width:100%;
    margin-top: 0;
    
  }
}

#user h2{
    font-size: 2.5rem;
    color: black;
}

#user p{
    color:black;
}

input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    font-family: 'Quicksand', sans-serif;
	  font-weight: 400;
}

select {
  width: 50%;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 1rem;
  }
  
  input[type=text]:focus {
    border: 3px solid #555;
  }

  select {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 1rem;
  }
  
  select:focus {
    border: 3px solid #555;
  }


  input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 1rem;
  }
  
  input[type=password]:focus {
    border: 3px solid #555;
  }

  input[type=submit]{
      font-size: 1rem;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      cursor: pointer;
      border: none;
      
  }

input[type=submit]:hover{
    background: rgb(166, 30, 184);
    color: white;
}

#user a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

#user a:hover{
    color:rgba(150,30,100);
}
input[type=email] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 1rem;
  }
  
  input[type=email]:focus {
    border: 3px solid #555;
  }

button {
    width: 50%;
    font-size: 1rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    padding: 12px 20px;
    margin: 8px 0;
    font-family: 'Quicksand', sans-serif;
	  font-weight: 400;
}

button:hover{
  background: rgb(166, 30, 184);
  color: white;
}

textarea {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 1rem;
    resize: none;
    font-family: 'Quicksand', sans-serif;
	  font-weight: 400;
  }
  
  textarea:focus {
    border: 3px solid #555;
  }

  input[type=number] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 1rem;

  }
  
  input[type=number]:focus {
    border: 3px solid #555;
  }

  input[type=date] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 1rem;
  }
  
  input[type=date]:focus {
    border: 3px solid #555;
  }